<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fragmento" class="container caratula-container">
    <div class="caratula-content">
        <img src="/espe.png" alt="Logo" class="caratula-logo">
        <div class="caratula-title">Desarrollo Web para Integración de Tecnologías</div>
        <div class="caratula-subtitle">NRC: 16486</div>
        <div class="caratula-details">Galárraga Hurtado Juan Fernando</div><br>
        <div class="caratula-details">Examen - Tercer Parcial</div>
        <div class="caratula-details">Grupo 2</div>
        <div class="caratula-details">Bustamante Cristian - Pogo Carlos</div>
        <div class="caratula-footer">26 de agosto de 2024</div>
    </div>
</div>
</body>
</html>
