<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fragmento" class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h3>[[${pageTitle}]]</h3>
    </div>
    <form th:action="@{/Estudiantes/save}" method="post" th:object="${Estudiante}">
        <input type="hidden" th:field="*{id}">
        <table class="table table-bordered table-hover">
            <tbody>

            <tr>
                <td>USUARIO:</td>
                <td>
                    <select th:field="*{usuario.id}" class="form-control">
                        <option value="" disabled selected>Selecciona el usuario</option>
                        <option th:each="usuario : ${listUsuarios}" th:value="${usuario.id}" th:text="${usuario.user}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>NOMBRE:</td>
                <td><input type="text" class="form-control" th:field="*{nombreEstudiante}" required minlength="2" maxlength="45"></td>
            </tr>
            <tr>
                <td>APELLIDO:</td>
                <td><input type="text" class="form-control" th:field="*{apellidoEstudiante}" required minlength="2" maxlength="45"></td>
            </tr>
            <tr>
                <td>CARRERA:</td>
                <td>
                    <select th:field="*{carrera.id}" class="form-control">
                        <option value="" disabled selected>Selecciona la carrera</option>
                        <option th:each="carrera : ${listCarreras}" th:value="${carrera.id}" th:text="${carrera.nombreCarrera}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2"><button type="submit" class="btn btn-success btn-sm">Guardar</button></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="mt-3">
        <a th:href="@{/Estudiantes}" class="btn btn-primary">Cancelar</a>
    </div>
</div>

</body>
</html>