/* estilos.css */
.img-foto {
    max-width: 50%;
    height: auto;
}

.caratula-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; /* Asegura que el contenedor ocupe al menos el 100% de la altura de la ventana */
    margin-top: -50px; /* Ajusta este valor según sea necesario */
    padding-top: 20px; /* Ajusta el padding si necesitas un poco de espacio adicional */
}

.caratula-content {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    max-width: 90%; /* Evita que el contenido se expanda demasiado en pantallas grandes */
}

.caratula-logo {
    max-width: 450px;
    margin-bottom: 20px;
}

.caratula-title {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.caratula-subtitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.caratula-details {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.caratula-footer {
    font-size: 1em;
    margin-top: 20px;
    color: #666;
}
