<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="fragmento" class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h3>[[${pageTitle}]]</h3>
    </div>
    <form th:action="@{/Usuarios/save}" method="post" th:object="${Usuario}" enctype="multipart/form-data">
        <input type="hidden" th:field="*{id}">
        <table class="table table-bordered table-hover">
            <tbody>
            <tr>
                <td>TIPO:</td>
                <td>
                    <select th:field="*{tipo.id}" class="form-control">
                        <option value="" disabled selected>Selecciona el tipo</option>
                        <option th:each="tipo : ${listTipos}" th:value="${tipo.id}" th:text="${tipo.nombreTipo}"></option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>USUARIO:</td>
                <td><input type="text" class="form-control" th:field="*{user}" required minlength="2" maxlength="45"></td>
            </tr>
            <tr>
                <td>CONTRASEÑA:</td>
                <td><input type="password" class="form-control" th:field="*{pass}"  minlength="3" maxlength="15"></td>
            </tr>
            <tr>
                <td>FOTO:</td>
                <td>
                    <!-- Si existe una foto, la muestra -->
                    <div th:if="${Usuario.foto != null}">
                        <img th:src="@{'/Usuarios/' + ${Usuario.foto}}" alt="Foto del usuario" width="150">
                    </div>
                    <input type="file" class="form-control" th:field="*{fotoFile}">
                </td>
            </tr>

            <tr>
                <td colspan="2"><button type="submit" class="btn btn-success btn-sm">Guardar</button></td>
            </tr>
            </tbody>
        </table>
    </form>
    <div class="mt-3">
        <a th:href="@{/Usuarios}" class="btn btn-primary">Cancelar</a>
    </div>
</div>

</body>
</html>
